body, input, button, textarea {
  font-family: "Ubuntu Mono";
}

.username_entry input, textarea {
  border-radius: 2px;
  font-size: 12pt;
  padding: 7px;
  border: 1px solid #aaa;
  margin: 5px;
}

button {
  border-radius: 2px;
  background-color: #1b68ec;
  border: 1px solid #1b84ec;
  margin: 5px;
  padding: 7px;
  font-size: 12pt;
  color: #fff;
}

h2 {
  display: inline-block;
  margin-left: 5px;
}

.game_stage, .names_stage {
  display: none;
}

.time {
  font-size: 24pt;
  margin-left: 5px;
}

.outline_button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.player_eliminated {
  text-decoration: line-through;
}

.inline_button {
  margin: 4px;
  padding: 1px 5px;
  /* transform: translateY(-3px); */
}

.inline_button.eliminated_button {
  background-color: #e33b3b;
  border-color: #c40000
}

.inline_button.defeat_button {
  background-color: #5ca42c;
  border-color: #147945;
}

.inline_button.final_button {
  background-color: #00c5ce;
  border-color: #03888e;
}

.inline_button.bed_button {
  background-color: #ce7400;
  border-color: #8e5000;
}

.red_button {
  background-color: #d42424;
  border: 1px solid #a22020;
}

.yellow_button {
  background-color: #e0d329;
  border: 1px solid #b9ae23;
}

.green_button {
  background-color: #24d461;
  border: 1px solid #219e4c;
}

.list_element {
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

.red_list_element {
  border: 2.5px solid #d42424;
}

.yellow_list_element {
  border: 2.5px solid #e0d329;
}

.green_list_element {
  border: 2.5px solid #24d461;
}

.blue_list_element {
  border: 2.5px solid #1b68ec;
}
