body, input, button {
  font-family: "Ubuntu Mono";
}

.username_entry input {
  border-radius: 2px;
  font-size: 12pt;
  padding: 7px;
  border: 1px solid #aaa;
  margin: 5px;
}

button {
  border-radius: 2px;
  background-color: #1b68ec;
  border: 1px solid #1b84ec;
  margin: 5px;
  padding: 7px;
  font-size: 12pt;
  color: #fff;
}

h2 {
  display: inline-block;
  margin-left: 5px;
}

.game_stage {
  display: none;
}

.time {
  font-size: 24pt;
  margin-left: 5px;
}

.game_end {
  display: none;
}

.player_list {
  width: max-content;
}

.player_item {
  border-radius: 2px;
  width: auto;
  margin: 5px;
  padding: 8px;
  border: 1px solid #aaa;
  min-width: 20vw;
}

.player_item.player_eliminated {
  text-decoration: line-through;
  background-color: #f0baa9;
  border: 1px solid #b77059;
}

.inline_button {
  margin: 0 4px;
  transform: translateY(-3px);
}

.inline_button.eliminated_button {
  background-color: #e33b3b;
  border-color: #c40000
}

.inline_button.defeat_button {
  background-color: #5ca42c;
  border-color: #147945;
}
